target/
/local

**/.idea

# Repository wide ignore mac DS_Store files
.DS_Store

# Eclipse, Netbeans and IntelliJ files
!.gitignore
!.github
/nbproject
/*.ipr
/*.iws
*.iml
.settings/
.project
.classpath
.factorypath
.vscode
.run/

#local environments
.env

#Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.flattened-pom.xml

# Eclipse
bin/

# IntelliJ
.idea
*.ipr
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code


# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Plugin directory
/.quarkus/cli/plugins/
