<!DOCTYPE html>
<h1>Jobs</h1>
<table>
    {#for j in jobs}
        <tr>
            <td>
                <div class="container">
                  <ul>
                    <li><a hx-get="/jobh/{j.id}/data" hx-target="#detailRawData" href="jobsTemplate.html">{j.id}</a></li>
                    <li>{j.endpoint}</li>
                    <li>{j.type}</li>
                    <li>{j.cron}</li>
                  </ul>
                    <button hx-post="/jobh/{j.id}/test" hx-target="#detailRawData">Test</button>
                    <button hx-post="/jobh/{j.id}/activate" hx-target="#jobTable">{j.status}</button>
                    <button hx-delete="/jobh/{j.id}" hx-target="#jobTable">Delete</button>

                </div>
            </td>
        </tr>
    {/for}
</table>